 @font-face {
  font-family: 'IBM Plex Sans';
  font-weight: 200;
  font-style: normal;
  src: local("IBM Plex Sans ExtraLight"), url("../fonts/web/eot/IBMPlexSans-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/desktop/mac/IBMPlexSans-ExtraLight.otf") format("opentype"), url("../fonts/desktop/pc/IBMPlexSans-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: 300;
  font-style: normal;
  src: local("IBM Plex Sans Light"), url("../fonts/web/eot/IBMPlexSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/web/woff2/IBMPlexSans-Light-Latin1.woff2") format("woff2"), url("../fonts/web/woff/IBMPlexSans-Light-Latin1.woff") format("woff"), url("../fonts/desktop/mac/IBMPlexSans-Light.otf") format("opentype"), url("../fonts/desktop/pc/IBMPlexSans-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: 400;
  font-style: normal;
  src: local("IBM Plex Sans Regular"), url("../fonts/web/eot/IBMPlexSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/web/woff2/IBMPlexSans-Regular-Latin1.woff2") format("woff2"), url("../fonts/web/woff/IBMPlexSans-Regular-Latin1.woff") format("woff"), url("../fonts/desktop/mac/IBMPlexSans-Regular.otf") format("opentype"), url("../fonts/desktop/pc/IBMPlexSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: 700;
  font-style: normal;
  src: local("IBM Plex Sans Bold"), url("../fonts/web/eot/IBMPlexSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/desktop/mac/IBMPlexSans-Bold.otf") format("opentype"), url("../fonts/desktop/pc/IBMPlexSans-Bold.ttf") format("truetype");
}

#container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
  width: 960px;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  width: 1000px;
  margin:0 auto;
}

a {
  text-decoration: none;
}

strong,
b {
  font-weight: 700;
}

header {
  display: -ms-flexbox;
  display: flex;
  font-size: 36px;
  font-weight: 400;
}

header .fa-map {
  width: 60px;
  text-align: center;
}

header a {
  display: block;
  color: black;
}

header h1 {
  margin-left: 20px;
  width: 860px;
  text-align: center;
}

.map-page header {
  padding: 0;
  height: 112px;
}

.map-page header a {
  padding-top: 38px;
}

.map-page header h1 {
  margin: 8px 0;
  padding: 20px 0 16px;
  font-size: 24px;
}

.map-page header h1 b {
  display: block;
  margin: 8px 0;
}

nav {
  width: 80px;
}

nav li {
  position: relative;
  width: 60px;
  text-align: center;
}

nav li a {
  display: inline-block;
  text-decoration: none;
  line-height: 40px;
  color: black;
  font-size: 18px;
}

nav li a:hover::before {
  position: absolute;
  top: 0;
  left: 100%;
}

nav li.current a::before {
  width: 0;
  height: 0;
  content: '';
  border-top: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid transparent;
  border-left-color: transparent;
  position: absolute;
  top: 0;
  left: 100%;
}

nav li.current:nth-child(1) a::before {
  border-left-color: #f5a3b0;
}

nav li.current:nth-child(2) a::before {
  border-left-color: #9cc5d7;
}

nav li.current:nth-child(3) a::before {
  border-left-color: #f7f3ac;
}

nav li.current:nth-child(4) a::before {
  border-left-color: #c6a2f5;
}

nav li.current:nth-child(5) a::before {
  border-left-color: #9cd7ab;
}

nav li.current:nth-child(6) a::before {
  border-left-color: #f7d5a7;
}

nav li.current:nth-child(7) a::before {
  border-left-color: #f79cd0;
}

nav li:nth-child(1) {
  background-color: #f5a3b0;
}

nav li:nth-child(1) a:hover::before {
  width: 0;
  height: 0;
  content: '';
  border-top: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid transparent;
  border-left-color: #f5a3b0;
}

nav li:nth-child(2) {
  background-color: #9cc5d7;
}

nav li:nth-child(2) a:hover::before {
  width: 0;
  height: 0;
  content: '';
  border-top: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid transparent;
  border-left-color: #9cc5d7;
}

nav li:nth-child(3) {
  background-color: #f7f3ac;
}

nav li:nth-child(3) a:hover::before {
  width: 0;
  height: 0;
  content: '';
  border-top: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid transparent;
  border-left-color: #f7f3ac;
}

nav li:nth-child(4) {
  background-color: #c6a2f5;
}

nav li:nth-child(4) a:hover::before {
  width: 0;
  height: 0;
  content: '';
  border-top: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid transparent;
  border-left-color: #c6a2f5;
}

nav li:nth-child(5) {
  background-color: #9cd7ab;
}

nav li:nth-child(5) a:hover::before {
  width: 0;
  height: 0;
  content: '';
  border-top: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid transparent;
  border-left-color: #9cd7ab;
}

nav li:nth-child(6) {
  background-color: #f7d5a7;
}

nav li:nth-child(6) a:hover::before {
  width: 0;
  height: 0;
  content: '';
  border-top: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid transparent;
  border-left-color: #f7d5a7;
}

nav li:nth-child(7) {
  background-color: #f79cd0;
}

nav li:nth-child(7) a:hover::before {
  width: 0;
  height: 0;
  content: '';
  border-top: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid transparent;
  border-left-color: #f79cd0;
}

main {
  background-color: #e3e3e3;
  padding-top: 46.4px;
  width: 860px;
}

main p {
  padding-left: 80px;
  width: 720px;
  line-height: 26px;
  font-weight: 300;
}

main ul {
  background-color: #f0f0f0;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 80px;
  counter-reset: listStyle;
}

main li {
  counter-increment: listStyle;
}

main li::before {
  font-weight: 700;
  content: counter(listStyle, upper-alpha);
}

picture {
  display: block;
  padding-bottom: 80px;
  text-align: center;
}

picture img {
  padding-top: 80px;
}

picture.nineteen-forty {
  background-color: #f5a3b0;
}

picture.nineteen-fifty-six {
  background-color: #9cc5d7;
}

picture.nineteen-fifty-nine {
  background-color: #f7f3ac;
}

picture.nineteen-sixty {
  background-color: #c6a2f5;
}

picture.nineteen-sixty-two {
  background-color: #9cd7ab;
}

picture.nineteen-seventy {
  background-color: #f7d5a7;
}

picture.nineteen-eighty {
  background-color: #f79cd0;
}

.bullet {
  color: #b4b4b4;
}

.map-page main {
  padding-top: 0;
}


/* 1 */

.link-li-1{
  list-style: none;
  margin-bottom: 20px;
}
.link-li-1 .li-a-1{
  width: 100px;
  background: #f5a3af;
  color: black;
  font-size: 20px;
  padding: 10px 20px;
  position: relative;
}
.link-li-1 .li-a-1:before,
.link-li-1 .li-a-1:after {
  width: 20px;
  height: 50%;
  position: absolute;
  left: 100%;
  content: "";
}
.link-li-1:hover .li-a-1:before {
    top: 0px;
    background: linear-gradient(to right top, #f5a3af 50%, transparent 50%)
}

.link-li-1:hover .li-a-1:after {
    top: 50%;
    background: linear-gradient(to right bottom,#f5a3af 50%, transparent 50%)
}


/* 2 */
.link-li-2{
  list-style: none;
  margin-bottom: 20px;

}
.link-li-2 .li-a-2{
  width: 100px;
  background: #9cc5d7;
  color: black;
  font-size: 20px;
  margin-bottom: 1px;
  padding: 10px 20px;
  position: relative;
}
.link-li-2 .li-a-2:before,
.link-li-2 .li-a-2:after {
  width: 20px;
  height: 50%;
  position: absolute;
  left: 100%;
  content: "";
}
.link-li-2:hover .li-a-2:before {
    top: 0px;
    background: linear-gradient(to right top, #9cc5d7 50%, transparent 50%)
}

.link-li-2:hover .li-a-2:after {
    top: 50%;
    background: linear-gradient(to right bottom, #9cc5d7 50%, transparent 50%)
}


/* 3 */
.link-li-3{
  list-style: none;
  margin-bottom: 20px;

}
.link-li-3 .li-a-3{
  width: 100px;
  background: #f7f3ac;
  color: black;
  font-size: 20px;
  margin-bottom: 1px;
  padding: 10px 20px;
  position: relative;
}
.link-li-3 .li-a-3:before,
.link-li-3 .li-a-3:after {
  width: 20px;
  height: 50%;
  position: absolute;
  left: 100%;
  content: "";
}
.link-li-3:hover .li-a-3:before {
    top: 0px;
    background: linear-gradient(to right top,#f7f3ac 50%, transparent 50%)
}

.link-li-3:hover .li-a-3:after {
    top: 50%;
    background: linear-gradient(to right bottom, #f7f3ac 50%, transparent 50%)
}


/* 4 */
.link-li-4{
  list-style: none;
  margin-bottom: 20px;

}
.link-li-4 .li-a-4{
  width: 100px;
  background: #c5a2f5;
  color: black;
  font-size: 20px;
  margin-bottom: 1px;
  padding: 10px 20px;
  position: relative;
}
.link-li-4 .li-a-4:before,
.link-li-4 .li-a-4:after {
  width: 20px;
  height: 50%;
  position: absolute;
  left: 100%;
  content: "";
}
.link-li-4:hover .li-a-4:before {
    top: 0px;
    background: linear-gradient(to right top, #c5a2f5 50%, transparent 50%)
}

.link-li-4:hover .li-a-4:after {
    top: 50%;
    background: linear-gradient(to right bottom, #c5a2f5 50%, transparent 50%)
}

/* 5 */
.link-li-5{
  list-style: none;
  margin-bottom: 20px;

}
.link-li-5 .li-a-5{
  width: 100px;
  background: #9cd7ab;
  color: black;
  font-size: 20px;
  margin-bottom: 1px;
  padding: 10px 20px;
  position: relative;
}
.link-li-5 .li-a-5:before,
.link-li-5 .li-a-5:after {
  width: 20px;
  height: 50%;
  position: absolute;
  left: 100%;
  content: "";
}
.link-li-5:hover .li-a-5:before {
    top: 0px;
    background: linear-gradient(to right top, #9cd7ab 50%, transparent 50%)
}

.link-li-5:hover .li-a-5:after {
    top: 50%;
    background: linear-gradient(to right bottom, #9cd7ab 50%, transparent 50%)
}

/* 6 */
.link-li-6{
  list-style: none;
  margin-bottom: 20px;

}
.link-li-6 .li-a-6{
  width: 100px;
  background: #f7d5a7;
  color: black;
  font-size: 20px;
  margin-bottom: 1px;
  padding: 10px 20px;
  position: relative;
}
.link-li-6 .li-a-6:before,
.link-li-6 .li-a-6:after {
  width: 20px;
  height: 50%;
  position: absolute;
  left: 100%;
  content: "";
}
.link-li-6:hover .li-a-6:before {
    top: 0px;
    background: linear-gradient(to right top, #f7d5a7 50%, transparent 50%)
}

.link-li-6:hover .li-a-6:after {
    top: 50%;
    background: linear-gradient(to right bottom, #f7d5a7 50%, transparent 50%)
}

/* 7 */
.link-li-7{
  list-style: none;
  margin-bottom: 20px;

}
.link-li-7 .li-a-7{
  width: 100px;
  background: #f79cd0;
  color: black;
  font-size: 20px;
  margin-bottom: 1px;
  padding: 10px 20px;
  position: relative;
}
.link-li-7 .li-a-7:before,
.link-li-7 .li-a-7:after {
  width: 20px;
  height: 50%;
  position: absolute;
  left: 100%;
  content: "";
}
.link-li-7:hover .li-a-7:before {
    top: 0px;
    background: linear-gradient(to right top, #f79cd0 50%, transparent 50%)
}

.link-li-7:hover .li-a-7:after {
    top: 50%;
    background: linear-gradient(to right bottom, #f79cd0 50%, transparent 50%)
}


/* sidebar */
.sidebar{
  float: left;
  height: auto;
  position: fixed;
}

/* content div */
.content{
  position: relative;
  left: 130px;
  float: left;
  margin: 5px 10px 10px 20px;
  background-color: #ECE7E7;
}

.content-1956{
  position: relative;
  left: 130px;
  float: left;
  margin: 5px 10px 10px 20px;
  background-color: #ECE7E7;
}


.large-img{
  background-color: #f5a3af;
  padding: 40px;
}

.large-img-1956{
  background-color: #9cc5d7;
  padding: 40px;
}

.large-img-1959{
  background-color: #f7f3ac;
  padding: 40px;
}

.large-img-1960{
  background-color: #c5a2f5;
  padding: 40px;
}

.large-img-1962{
  background-color: #9cd7ab;
  padding: 40px;
}

.large-img-1970{
  background-color: #f7d5a7;
  padding: 40px;
}

.large-img-1980{
  background-color: #f79cd0;
  padding: 40px;
}





.left-listings{
  float: left;
  padding: 20px;
}

.left-listings-p{
  font-weight: bold;
  font-size: 16px;
}


.left-listings-span{
  font-weight: normal;
}




.right-listings{
  float: right;
  padding: 20px;
}


.right-listings-p{
  font-weight: bold;
  font-size: 16px;
}

.right-listings-span{
  font-weight: normal;
}


#left {
  position: absolute;
  width: 150px;
  height: 200%;
}

#sidebar {
  height: auto;
  width: 150px;
  color: #fff
}

.font-margin{
  margin-right: 10px;
  margin-top: 50px;
}

.map-color-a{
  color: black;
}
.map-color-a:hover{
  color: black;
  text-decoration: none;
}
.map-icon {
  top: 20px;
  height: auto;
  width: 60px;
  position: fixed;
  Padding: 35px;
color: black;
  font-family: "FontAwesome5FreeRegular", Helvetica, Arial, serif;
  font-size: 36.0px;
  text-align: center;
