*
**/

!.gitignore
!css/
!fonts/
!img/
!sketch/

!README.md
!index.html
!campus-map--1940.html
!campus-map--1956.html
!campus-map--1959.html
!campus-map--1960.html
!campus-map--1962.html
!campus-map--1970.html
!campus-map--1980.html
